<%- include("header",{title: 'Decpy | Chat'}) %>
<main class="chat">
  <%- include("navbar") %>
  <section class="ul-container"></section>
</main>
<%- include("scripts") %>
<script src="../js/index.js"></scrSearchipt>
<%- include("footer") %>
<%- include("footer") %>
